= render partial: 'layouts/header', locals: { header: @header }
.out__wrapper
  = render "users/side-bar"
  .out__wrapper__main-bar
    .out__wrapper__main-bar__contents
      %button{type: "submit", class:'logout-btn'}
        = link_to "ログアウト", destroy_user_session_path, method: :delete

= render partial: 'top/footer', locals: { footer: @footer }
