-# .r-single
-#   %header.r-header
-#     -# =render "header"
-#   %main.r-single-main
-#     %section.r-single-container
-#       %h2.r-single-header 会員情報登録
-#       .r-sigle-content
-#         %label{for: "ニックネーム "} ニックネーム 必須
-#         %input{placeholder: "例:フリマ", type: "text", class:"r-sigle-content_register"}/
        
-#         %label{for: "e-メールアドレス "} Eメールアドレス 必須
-#         %input{placeholder: "例:xxx@mail.co.jp", type: "email", class:"r-sigle-content_register"}/

-#         %label{for: "パスワード"} パスワード 必須
-#         %input{placeholder: "例:xxxxxx", type: "password", class:"r-sigle-content_register"}/

-#         %label{for: "パスワード確認"} パスワード（確認） 必須
-#         %input{placeholder: "例:xxxxxx", type: "password", class:"r-sigle-content_register"}/
        

-#       .r-sigle-name
-#         .r-sigle-name_family
-#           %label{for: "苗字"} 名前 必須
-#           %input{placeholder: "例:佐藤", type: "text", class:"r-sigle-name_family_register"}/
-#         .r-sigle-name_first  
-#           %label{for: "名前"}  名前 必須
-#           %input{placeholder: "太郎", type: "text", class:"r-sigle-name_first_register"}/

-#       .r-sigle-birth
-#         %label{for:  "生年月日"}  生年月日 必須
-#         %input{placeholder: "太郎", type: "date", class:"r-sigle-birth_register"}/ 
        

-#       .r-sigle-tel
-#         %label{for: "電話番号"}  電話番号 必須
-#         %input{placeholder: "xxx-xxxx-xxxx", type: "tel", class:"r-sigle-tel_register"}/

-#       .r-sigle-gender
-#         性別 必須
-#         .r-sigle-gender_man
-#           %label{for: "男", class:"input"}  男 
-#           %input{placeholder: "xxx-xxxx-xxxx", type: "radio", class:"r-sigle-gender_man_register"}/
-#         .r-sigle-gender_woman
-#           %label{for: "女", class:"input"}  女
-#           %input{placeholder: "xxx-xxxx-xxxx", type: "radio", class:"r-sigle-gender_woman_register"}/

-#       .r-sigle-newregister
-#         %label{for: "登録ボタン"}  
-#         %input{value:"登録", type: "button", class:"r-sigle-newregister_btn"}/



