.r-single{
  background: #f8f8f8;
  padding-bottom: 50px;
  header{
    
    height: 128px;
    width: 700px;
    margin: 0 auto;
    background: white;
    margin-bottom: 30px;
  }
  
.r-single-main{
  background-color: #f8f8f8;
  height: 90%;
  .r-single-container{
  width: 700px;
  margin: 0 auto;
  background: white;
  h2{
  padding: 32px;
  font-size: 22px;
  text-align: center;
      }
    }
  }
}


.r-sigle-content{
  max-width: 350px;
  margin: auto;
}


.new_user{
  text-align: center;
  
}

.new_address{
  text-align: center;
}

.field{
  margin: 24px 0 0;
}

label {
  font-size: 15px;
  display: block;
  text-align: start;
  margin-bottom: -25px;
}


.input-tag{
  width: 340px;
  height: 40px;
}


.input-halftag {
  width: 165px;
  height: 40px;
}


.name{
  font-size: 15px;

}
span{
  margin: auto;
  font-size: 15px;
  color: red;
}

.pas {
  margin-left: 30px;
}

.pasw {
  margin-left: 70px;
}



.field_with_errors {
  display: inline;
}



.next-btn{
  font-size: 20px;
  margin-top: 30px;
  width: 340px;
  height: 40px;
  background-color: #3ccace;
}


#user_year_1i {
  height: 50px;
  width: 85px;
  margin: 8px 0 0;
  background: white;
}

#user_year_2i{
  height: 50px;
  width: 85px;
  margin: 8px 0 0;
  background: white;
}

#user_year_3i{
  height: 50px;
  width: 85px;
  margin: 8px 0 0;
  background: white;
}
